{% extends "index/base.html" %}
{% block title %}Portfolio{% endblock %}
{% block content %}

<div class="body-header">
    <div class="overlay">
        <div class="header-info">
            <h1>NICOLAS NASR</h1>
            <h2>PORTFOLIO</h2>
        </div>
    </div>
    <p id="profile1"></p>
</div>
<div class="container1">
    <div id="profile">
        <h1>Profile</h1>
        <h3>Django back-end developer</h3>
        <div class="bord"></div>
        <div class="about">
            <div class="me">
                <h2>About me</h2>
                <p>
                    A junior python developer doing back-end development using python web framework django,
                    currently studying computer science and working on some side <a href="#projects"
                        style="text-decoration: none;">projects</a>
                </p>
            </div>
            <div class="image">
                <img src="https://media-exp1.licdn.com/dms/image/C5635AQFUGxjIJoE7zw/profile-framedphoto-shrink_200_200/0/1605694270001?e=1614675600&v=beta&t=b1V1Ik7tAhX3FAVZp29f-DvKwmAH20bgQarrdOE_-Rw"
                    alt="Profile pic">
            </div>
            <div class="details">
                <h2>Details</h2>
                <p class="details-title" style="font-weight: bold">Full Name:</p>
                <p class="details-info">Nicolas Georges Nasr</p>
                <p class="details-title" style="font-weight: bold">Age:</p>
                <p class="details-info">21</p>
                <p class="details-title" style="font-weight: bold">Adress:</p>
                <p class="details-info">Lebanon, Mount Lebanon, Byblos-Jbeil</p>
            </div>
        </div>
    </div>
    <p id="experience1"></p>
    <div class="exp-body">
        <div id="experience">
            <div class="exp-head">
                <h1>Career</h1>
                <p>“Protons give an atom its identity, electrons its personality.”</p>
            </div>
            <div class="bord"></div>
            <h2 class="edu-title">Educations</h2>
            <div class="educations">
                <div class="edu-body">
                    <div class="edu-body-title">
                        <p class="edu-place">Don Bosco School</p>
                        <p class="edu-date">2004 - 2015</p>
                    </div>
                    <div class="edu-body-body">

                    </div>
                </div>
                <div class="edu-body">
                    <div class="edu-body-title">
                        <p class="edu-place">Lycee Officiel Ghazir</p>
                        <p class="edu-date">2015 - 2018</p>
                    </div>
                    <div class="edu-body-body">
                        Went to high school and graduated from Lycee Officiel Ghazir. <br>
                        Did my Baccalauréat in SV.
                    </div>
                </div>
                <div class="edu-body">
                    <div class="edu-body-title">
                        <p class="edu-place">Lebanese University-Faculty Of Science</p>
                        <p class="edu-date">2018 - </p>
                    </div>
                    <div class="edu-body-body">
                        Currently my 4th semester studying computer science at the lebanese university
                        looking to graduate in 2022
                    </div>
                </div>
            </div>
            <div class="bord"></div>
            <h2 class="edu-title">Licenses & certifications</h2>
            <div class="educations">
                <div class="edu-body">
                    <div class="edu-body-title">
                        <p class="edu-place">Python for Everybody Specialization</p>
                        <div class="edu-date">December 2020</div>
                    </div>
                    <div class="edu-body-body">
                        Michigan University <a href="https://coursera.org/share/b3b9dd0e5117184b45e785ea1145396d"
                            target="_blank">Coursera Certification</a>
                    </div>
                </div>

            </div>
            <p id="skills"></p>
            
            <div class="bord"></div>
            <h1 class="career-title">Work Experience</h1>
            <div class="career">
                <p>Currently a Student with no prior work experience in the field.</p>
            </div>
            <div class="bord"></div>
            <div class="">
                <h1 style="font-size: 2.5rem !important;
                font-weight: 100 !important;color: #002b53; margin: 50px 0 25px 0;">Skills:</h1>
                <h2 class="career-title">Programming skills:
                    <hr class="w-25">
                </h2>
                <ul class="career" style="padding: 0;">
                    <li class="row align-items-center">
                        <p class="col-sm-2 col-1 career-title" style="font-size: 1.4rem;">-Python: </p>
                        <div class="progress col">
                            <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="90"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </li>
                    <li class="row align-items-center">
                        <p class="col-sm-2 col-1 career-title" style="font-size: 1.4rem;">-Django: </p>
                        <div class="progress col">
                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </li>
                    <li class="row align-items-center">
                        <p class="col-sm-2 col-1 career-title" style="font-size: 1.4rem;">-C++: </p>
                        <div class="progress col">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </li>
                    <li class="row align-items-center">
                        <p class="col-sm-2 col-1 career-title" style="font-size: 1.4rem;">-HTML/CSS: </p>
                        <div class="progress col">
                            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </li>
                    <li class="row align-items-center">
                        <p class="col-sm-2 col-1 career-title" style="font-size: 1.4rem;">-Javascript: </p>
                        <div class="progress col">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </li>
                </ul>
                <h2 class="career-title">Other skills:
                    <hr class="w-25">
                </h2>
                <ul class="career" style="padding: 0;">
                    <li class="row align-items-center">
                        <p class="col-sm-2 col-1 career-title" style="font-size: 1.4rem;">-Guitar Playing: </p>
                        <div class="progress col">
                            <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="90"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p id="projects"></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <div class="container-sm p-sm-5 pt-sm-1">
        <div class="container-sm p-sm-5 pt-sm-1">
            <div class="container-sm p-sm-5 pt-sm-1">
                <h2 class="edu-title">skills</h2>
            </div>
            
        </div>
    </div> -->
    <div class="container mt-5 mb-3">
        <h1 class="">Projects: </h1>
        <hr>
        {% for category in categories %}
        <h1 class="career-title mt-4">{{category}} projects:</h1>
        <div class="row mt-4">
            {% for project in projects %}
                {% if project.category == category %}
                    <div class="col-sm">
                        <div class="card h-100">
                            <img src="{{ project.image }}" class="card-img-top" alt="{{ project.title }}" height="300">
                            <div class="card-body">
                                <h5 class="card-title">{{ project.title }}</h5>
                                <p class="card-text">{{project.short_description}}</p>
                            <div class="col">
                                    {% if project.website %}
                                        <a href="{{project.website}}" class="btn btn-primary" target='_blank'>Live Demo</a>
                                    {% endif %}
                                    <a class="btn" href="{{project.github}}" target="_blank"><i class="fab fa-github" style="font-size: 30px;"></i> Github Repo </a>
                            </div>
                            <a href={% url 'index:project' project.id %} class="btn btn-primary">Project description</a>
                                
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
            <!-- <div class="col-sm">
                <div class="card" >
                    <img src="..." class="card-img-top" alt="prm">
                    <div class="card-body">
                        <h5 class="card-title">Project management system</h5>
                        <p class="card-text">A project management system built with django 3.1.7 and Python 3.9.1 That lets 
                            teams manage and control their projects.</p>
                        <a href="https://nicolas-prm-2.herokuapp.com/" class="btn btn-primary" target="_blank">Live Demo</a>
                        
                    </div>
                </div>
            </div> -->
        

    </div>
    <span id="contact"></span>
    <div class="bye-section">
        <h1>Let's work together . . .</h1>
        <h3>Get in touch with me</h3>
        
            <table class=" mt-5" style="color:white;">
                <tr style="text-align: left;">
                    <td>E-mail</td>
                    <td style="width:50px;"> : </td>
                    <td>nasr528@gmail.com</td>
                </tr>
                <tr style="text-align: left;">
                    <td>Phone number</td>
                    <td> : </td>
                    <td>+961 71 36 56 63</td>
                </tr>
            </table>
        
        <ul id="social">
            <div class='social-link'>
                <li><a href="mailto:nasr528@gmail.com" target="_blank"><i class="fas fa-at"></i> Email </a></li>
                <li><a href="https://www.linkedin.com/in/nicolas-nasr-967146125/" target="_blank"><i
                            class="fab fa-linkedin"></i> LinkedIn</a></li>
                <li><a href="https://github.com/nicolnasr" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
                <!-- <li><a href = "https://codepen.io/nasrnicolas/" target = "_blank"><i class="fab fa-codepen"></i> CodePen</a></li> -->
                <!-- <li><a href = "https://www.instagram.com/nicolanasr/" target = "_blank"><i class="fab fa-instagram"></i> Instagram</a></li> -->
            </div>

        </ul>
        <!-- <hr class="w-25 mt-5">
        <h2 class="text-white">Contact Form</h2>
        <hr class="w-25">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3" style="color:white;">
                <label for="exampleFormControlInput1" class="form-label">your Email</label>
                {{ form.from_email }}
            </div>

            <div class="mb-3" style="color:white;">
                <label for="subject" class="form-label">subject</label>
                {{ form.subject }}
            </div>

            <div class="mb-3" style="color:white;">
                <label for="exampleFormControlTextarea1" class="form-label">message: </label>
                {{ form.message }}
            </div>

            <div class="form-actions">
            <button class="btn btn-success" type="submit">Send</button>
            </div>
        </form> -->
    </div>
    
</div>

<script>
    var form_fields = document.getElementsByTagName("input");
    var textarea = document.getElementsByTagName("textarea");


    form_fields[1].className = "form-control"
    console.log(form_fields[1])
    form_fields[2].className = "form-control"
    textarea[0].className = "form-control"
   
</script>

{% endblock %}